body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}


header{
  text-align: center;
  background-color: #F0F4F4;
  border-radius: 10px;
  font-size: 16px;
  line-height: 30px;
  margin-top: 5px;
}

.footer-container {
  background-color: #F0F4F4;
  display: flex;
  justify-content: space-between;
  color: black;
  margin: 10px 0px;
  padding: 0px 20px;
  padding-top: 10px;
  border-radius: 10px;
  align-items: center;

}
header a {
  text-decoration: none;
  color: black;
}
